{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Generator</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css"
    />
  </head>
  <body>
    <h1>PassGen</h1>

    <form method="GET" action="{% url 'password_generator' %}">
      <label for="length">Password Length:</label>
      <input
        type="range"
        id="length-slider"
        name="length"
        min="4"
        max="32"
        value="5"
      />
      <span id="length-value">5</span>

      <label>
        <input type="checkbox" name="uppercase" /> Include Uppercase Letters
      </label>
      <label> <input type="checkbox" name="numbers" /> Include Numbers </label>
      <label>
        <input type="checkbox" name="special" /> Include Special Characters
      </label>

      <button type="submit">Generate Password</button>
    </form>

    {% if password %}
    <h2>Your Generated Password</h2>
    <!-- Container for password and button -->
    <div class="password-container">
      <p id="generated-password"><strong>{{ password }}</strong></p>
      <!-- Copy Button right next to the password -->
      <button id="copy-btn"><i class="fa-regular fa-copy"></i></button>
    </div>
    {% endif %}

    <script>
      // JavaScript to update the displayed length value as the slider moves
      const lengthSlider = document.getElementById("length-slider");
      const lengthValue = document.getElementById("length-value");

      lengthSlider.addEventListener("input", function () {
        lengthValue.textContent = lengthSlider.value;
      });

      // JavaScript to copy the password to the clipboard
      document.addEventListener("DOMContentLoaded", function () {
        const copyButton = document.getElementById("copy-btn");
        const passwordText = document.getElementById("generated-password");

        if (copyButton) {
          copyButton.addEventListener("click", function () {
            const password = passwordText.innerText;

            // Copy to clipboard
            navigator.clipboard
              .writeText(password)
              .then(function () {
                copyButton.textContent = "Copied!";
                setTimeout(function () {
                  // e.g., copyButton.textContent = 'Copy';
                }, 2000);
              })
              .catch(function (error) {
                console.error("Error copying password to clipboard: ", error);
              });
          });
        }
      });
    </script>
  </body>
</html>

<!-- http://localhost:8000/polls/ -->
